
    html,body,div{
        font-family: Raleway, sans-serif;
        text-decoration: none;
        margin:0px;
        padding:0px;
        text-decoration: none;
    }

    header,main{
        margin-bottom: 60px;
        margin-left:40px;
        
    }

    *{box-sizing: 
        border-box;
    
    }

    
header{
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
     
}

.navbar {
    
    display: flex;
    margin-right: 90px;
}



.navbar a{
    padding: 20px;
    height: 50px;
    list-style-type: none;
    text-decoration : None;
    color: #0065FC;
}

.act, .heb {
    border-top: solid 2px transparent;
    color: black;
}

.ins {
    height: 50px;
    border-top: solid 2px transparent;
    color: #0065FC;
    font-weight: bold;
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    text-decoration: none;
}

.filtres{
    width: 60%;

}

.titreprincipal {
    display: flex;
    margin-top: 0%;
}

 p{
    margin-top: 0px;
    font-weight: 500;
}

h1{  
    margin-bottom: 10px;
    font-weight: 800;
}
h3{
    margin-bottom: 0%;
}

.inputwithicon{
    display: flex;
    margin-bottom: 25px;
    margin-top: 20px;
}
.localisation{
    width: 40px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
.search{
    border: solid #F2F2F2 1px;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
}
.rechercher{
font-weight: 600;
background-color: #0065FC;
color: white;
text-decoration: none;
padding: 12px;
border-bottom-right-radius: 12px;
border-top-right-radius: 12px;
border: none;
cursor: pointer;

}

.filtres {
    display: flex;
    margin-right: 40px;
}
.titrefiltres{
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.icones{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texticones{
    color: black;
    font-weight: 800;
    padding: 10px;
}
.iconesandtexts{
    height: 48px;
    display: flex;
    margin-right: 20px;
    border-top: solid #F2F2F2 2px;
    border-bottom: solid #F2F2F2 2px;
    border-right: solid #F2F2F2 2px;
    border-left: solid  #F2F2F2 2px; 
    border-radius: 20px;
    cursor: pointer;
}
.body a{
    cursor: pointer;
    
}
.informations{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    font-size: large;
    margin-bottom: 30px;
}
.informations i{
    width: 25px;
    height: 25px;
    border: solid #F2F2F2 2px;
    border-radius: 50%;
    color: #0065FC;
    background-color: white;
  
    margin-right: 15px;
}


.blockprincipal{
    max-width: 100%;
    max-height: 100%;
    
     display:flex;
     flex-direction: row;
     justify-content:space-between;
     align-items: flex-start;
     
 }

.mainone  {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.mainone img {
   width: 100%;
   height: 55%;
   height: 55%;
   border-radius: 20px 20px 0 0;
   object-fit: cover;
   
}
.mainone figure{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    margin :0px;
    width: 100%;
    height: 100%;
}
.mainone figcaption{
    width:  100% ;
    height: 40%;
    margin-top: 0%;
}
.mainone a{
    width: 30%;
    height: 220px;
    text-decoration: none;
}
.mainone h3{ 
    margin-bottom:0% ; 
}

.maintwo {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.maintwo figure{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0%;
    
}

.maintwo img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    max-width: 150px;
    border-radius: 20px 0 0 20px;
    margin: 4px;
}

.maintwo figcaption{
    width:  60% ;
    height: 100%;
}

.maintwo a{
    width: 100%;
    height: 150px;
    text-decoration: none;
}

.maintwo h3{
    margin-top: 5%;
    margin-bottom:0% ;
}
.populaire {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.populaire i{
    margin-top: 30px;
}

.mainhree{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    
}

.card{
    padding: 3px;
    margin-top: 30px;
    background-color: white;
    border-radius: 22px;
    box-shadow: 0 0 6px 3px #adadad46;
}
.textandstar{
    
    color: black;
    margin-top: 0%;
    margin: 10px 0 7px 15px;
}
.textandstar h3{
    margin-top: 0px;
    margin-bottom:0% ;
    font-size: 100%;
    width: 100%;
}
.bold{
    font-weight: 800;
}
.space{
    margin: 5px 0 40px 0;
}
.star{
    margin-top: 20px;
    color: #0065FC;
}
.card2{
    border-radius: 22px;
    display: flex;
    min-width: 250PX;
    min-height: 150PX;
    max-height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}



.blockone{
    width: 60%;
    height: 100%;
    margin: 0px 10px 0px 0px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.blockone p {
    margin-top: 0%;
    margin-bottom: 0%;
}
.blockone h4{
    color: black;
    font-weight: 800;
    margin: 30px 0 30px 0px;
    text-decoration: none;
    margin-top: 40px;
}
.blockone a{
    text-decoration: none;
}
.blockone h2{
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 30px;
  
}

.blocktwo{
    width: 40%;
    height: 100%;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #F2F2F2;
    border-radius: 20px; ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.blocktwo h2{
    margin-top: 30px;
}


.blockthree a{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    text-decoration: none;
}

.blockthree h3{

    color: black;
    font-weight: 700;
    margin: 15px 0 15px 15px;
}

.mainthree{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.mainhree a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    
}

.lastone{
    width: 310px;
    height: 400px;
    margin: 5px;
    border-radius: 20px;
   
}
.lastone a{
    margin: 0px 0px 0px 0px;
}

.lastone img{
    width: 100%;
    height: 350px;
    margin: auto;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    object-fit: cover;

}

.margin {
    display: block;
    margin-bottom: 30px;
}

.margin img{
  
    
    display: block;
    height: 130px;
    border-radius: 20px 20px 0 0;
}

.box1{
    height: 180px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
   
}
.box2{
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
}

.box3{
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
  
}
.box4{
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
}

footer {
    
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 170px;
    background-color: #F2F2F2;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

footer ul{
    
        width: 33%;
    list-style: none;
    margin: 20px 0 20px 20px;
    
}
footer li{
    margin-top: 10px;
 
}
footer a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 2500px){
    .rechercher2{
        display: none;
    }
}
@media screen and (max-width: 1020px){

.blockprincipal {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}



.blockone {
    width: 100%;
    margin-top: 20px;

}
.blocktwo{
    width: 100%;
}

.blockthree{
   display: flex;
    flex-wrap: wrap;
   
}
.lastone{
    width: 40%;
    margin: auto;
}

}


@media screen and (max-width: 844px){
.filtres {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }

.mainone{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
.mainone a{
        width: 40%;
    }

footer {
    height: 250px;

}

}




@media screen and (max-width: 645px){

   

 .blockprincipal{
    margin: 20px 0px 20px 0px;
}
.mainone a{
    width: 96%;
    margin: 0;
    margin-bottom: 10px;
}
.maintwo a {
    width: 96%;
    margin:0;
    margin-bottom: 20px;
}
.mainthree a{
    margin-bottom: 10px;
}
.card2 figure{
    width: 96%;
    margin:0; 
}
.blockone h2{
    margin-bottom: 20px;
}
.blocktwo{
    border-radius: 0;
    margin-left: 0;
}
 
.blockthree{
    margin-top: 70px;
    margin: 20px 40px;
}

.lastone{
    width: 96%;
    margin: 0;
}
    
 footer {
    display: block;
    height: 350px;
    padding-top: 20px;

}
footer ul {
    width: 70%;
    margin: 0;
    padding: O;
}
}
@media screen and (max-width: 500px){
    .act, .heb {
        display: flex;
        justify-content: center;
        width: 50%;
        align-items: center;
    }
    nav {
        position: absolute;
        top: 50px;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }
.rechercher2 {
    width: 40px;
    color: white;
    background-color: #0065FC;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border: none;
    cursor: pointer;
   
}
.rechercher{
    display: none;
}

.h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.iconesandtexts{
    margin-bottom: 10px;
}
.titrefiltres{
    margin-bottom: 10px;
}



}